{
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "singleQuote": true,
    "printWidth": 160,
    "bracketSpacing": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "lineSpacing": "avoid"
}
