::-webkit-scrollbar {
  display: none;
}
*{
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-app-region: drag;
  background-color: transparent;
}
#html{
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
}

#ruler{
  height: 60px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  background-image: url("./assets/pattern.png");
  background-repeat: repeat-x;
  background-color: rgba(255,255,255,0.8);
}

#markers{
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
}
.marker{
  width: 2px;
  height: 100%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.marker span{
  padding: 2px;
  font-size: 12px;
  font-family: 'calibri';
  color: white;
  border-radius: 4px;
  background: red;
  transform: rotate(-90deg);
}