::-webkit-scrollbar {
    display: none;
}
* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    transition-duration: 0.2s;
    font-family: 'calibri';
}
html,
body {
    width: 100vw;
    height: 100vh;
    user-select: none;
    -webkit-app-region: drag;
}

#container {
    display: flex;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.8);
    user-select: none;
    -webkit-app-region: drag;
}
